{% extends "base_generic.html" %}

<!-- El sistema de reinicio de contraseña usa el correo electrónico para enviar al usuario un enlace de reinicio. 
Necesitas crear formularios para obtener la dirección de correo electrónico del usuario, enviar el correo, 
permitirle introducir una nueva contraseña y tenerla en cuenta cuando todo el proceso se haya completado. -->

<!-- formulario para obtener la dirección del correo electrónico del usuario (para enviar el correo de reinicio de contraseña). -->

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Restablecer contraseña">
  </form>
{% endblock %}